<div class="modal fade modal-fullscreen" id="cta-modal" tabindex="-1" role="dialog" aria-labelledby="cta-modalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-end border-0">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
                <div class="close modal-close-btn p-0 m-0" data-dismiss="modal" aria-label="Close">&times;</div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col col-lg-8">
                            <h1 class="big-font1">{{ landing_data.modal.title }}</h1>
                            <h5 class="mb-3 ls-40">{{ landing_data.modal.subtitle }}</h5>
                            <h5 class="font-weight-bold mb-3 mb-md-2 ls-40">{{ landing_data.modal.list-title }}</h5>
                            <ul class="modal-list m-0">
                                {% for item in landing_data.modal.list %}
                                    <li class="ls-40">{{ item }}</li>
                                {% endfor %}
                            </ul>
                            <div class="bg-color5 text-center p-3 my-4">
                                <p class="m-0">{{ landing_data.modal.mail-cta | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                            </div>
                            <div class="modal-cta text-center">
                                <a href="mailto:{{ landing_data.modal.btn.url }}" class="btn modal-btn rounded-pill">{{ landing_data.modal.btn.text }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
