<section class="info-area bg-color1 p-b-100" id="info">
    <div class="themeix-ani">
        <img src="{{site.baseurl}}/assets/images/themeix-ani1.png" alt="animated shape" class="shape-one" />
        <img src="{{site.baseurl}}/assets/images/themeix-ani2.png" alt="animated shape" class="shape-two" />
        <img src="{{site.baseurl}}/assets/images/themeix-ani3.png" alt="animated shape" class="shape-tree" />
    </div>
    <div class="container">
        <div class="info-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title m-b-70" data-aos="fade-up">
                        <h2 class="big-font2 mb-2">{{ landing_data.info-section.title }}</h2>
                        <p class="ls-40">{{ landing_data.info-section.text }}</p>
                    </div>
                </div>
                <div class="col-md-5 offset-lg-1">
                    <div class="info-image">
                        <img class="image-mockup br-18" src="{{site.baseurl}}{{ landing_data.info-section.image[0] }}" alt="{{ landing_data.info-section.image[1] }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
