@charset "UTF-8";
/*
===========================
TABLE INDEX
1. Bg Color
2. Bg Image
3. Form & Button
4. Section & Inner Title
5. Shape  Animation
6. Header Area
7. Service Area
8. Feature Area
9. Watch Video Area
10. Apps Screenshot Area
11. Apps Store Area
12. Testimonial Area
13. Price Plan  Area
14. Blog Area
15. Sidebar Area
16. Newsletter Area
17. Footer Area
===========================
*/
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local("Poppins Light"), local("Poppins-Light"), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local("Poppins Light"), local("Poppins-Light"), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local("Poppins Light"), local("Poppins-Light"), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v6/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v6/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url(https://fonts.gstatic.com/s/poppins/v6/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local("Poppins Medium"), local("Poppins-Medium"), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"), url(https://fonts.gstatic.com/s/poppins/v6/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*  0. Normalize  */
body, html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
  position: relative;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a {
  transition: all 500ms ease;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
  color: #216ae6;
}

abbr[title] {
  border-bottom: 1px dotted;
}

ol, ul {
  padding-left: 20px;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-size: inherit;
}

.form-control {
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

textarea:focus,
textarea:active,
button:focus,
button:active,
input:active,
input:focus,
.btn:focus,
.btn.active {
  background-image: none !important;
  outline: 0;
  box-shadow: none !important;
}

.page-link:focus {
  outline: 0;
  box-shadow: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.p-t-100 {
  padding-top: 100px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.p-t-130 {
  padding-top: 130px;
}

.p-b-130 {
  padding-bottom: 130px;
}

.p-t-140 {
  padding-top: 140px;
}

.p-b-140 {
  padding-bottom: 140px;
}

@media (max-width: 768px) {
  .p-t-100 {
    padding-top: 60px;
  }

  .p-b-100 {
    padding-bottom: 60px;
  }

  .p-t-130 {
    padding-top: 90px;
  }

  .p-b-130 {
    padding-bottom: 90px;
  }

  .p-t-140 {
    padding-top: 100px;
  }

  .p-b-140 {
    padding-bottom: 100px;
  }
}
.m-t-30 {
  margin-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-l-30 {
  margin-left: 30px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-l-40 {
  margin-left: 40px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-l-50 {
  margin-left: 50px;
}

.m-r-50 {
  margin-right: 50px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.m-l-60 {
  margin-left: 60px;
}

.m-r-60 {
  margin-right: 60px;
}

.m-t-70 {
  margin-top: 70px;
}

.m-b-70 {
  margin-bottom: 70px;
}

.m-l-70 {
  margin-left: 70px;
}

.m-r-70 {
  margin-right: 70px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-b-80 {
  margin-bottom: 80px;
}

.m-l-80 {
  margin-left: 80px;
}

.m-r-80 {
  margin-right: 80px;
}

.m-t-90 {
  margin-top: 90px;
}

.m-b-90 {
  margin-bottom: 90px;
}

.m-l-90 {
  margin-left: 90px;
}

.m-r-90 {
  margin-right: 90px;
}

@media (max-width: 768px) {
  .m-t-30 {
    margin-top: 10px;
  }

  .m-b-30 {
    margin-bottom: 10px;
  }

  .m-l-30 {
    margin-left: 10px;
  }

  .m-r-30 {
    margin-right: 10px;
  }

  .m-t-40 {
    margin-top: 20px;
  }

  .m-b-40 {
    margin-bottom: 20px;
  }

  .m-l-40 {
    margin-left: 20px;
  }

  .m-r-40 {
    margin-right: 20px;
  }

  .m-t-50 {
    margin-top: 30px;
  }

  .m-b-50 {
    margin-bottom: 30px;
  }

  .m-l-50 {
    margin-left: 30px;
  }

  .m-r-50 {
    margin-right: 30px;
  }

  .m-t-60 {
    margin-top: 40px;
  }

  .m-b-60 {
    margin-bottom: 40px;
  }

  .m-l-60 {
    margin-left: 40px;
  }

  .m-r-60 {
    margin-right: 40px;
  }

  .m-t-70 {
    margin-top: 50px;
  }

  .m-b-70 {
    margin-bottom: 50px;
  }

  .m-l-70 {
    margin-left: 50px;
  }

  .m-r-70 {
    margin-right: 50px;
  }

  .m-t-80 {
    margin-top: 60px;
  }

  .m-b-80 {
    margin-bottom: 60px;
  }

  .m-l-80 {
    margin-left: 60px;
  }

  .m-r-80 {
    margin-right: 60px;
  }

  .m-t-90 {
    margin-top: 70px;
  }

  .m-b-90 {
    margin-bottom: 70px;
  }

  .m-l-90 {
    margin-left: 70px;
  }

  .m-r-90 {
    margin-right: 70px;
  }
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #242424;
}

::-webkit-input-placeholder {
  font-size: 1.6;
  line-height: 1.8;
  color: #777777;
  font-weight: 400;
}

:-moz-placeholder {
  font-size: 1.6;
  line-height: 1.8;
  color: #777777;
  font-weight: 400;
}

::-moz-placeholder {
  font-size: 1.6;
  line-height: 1.8;
  color: #777777;
  font-weight: 400;
}

:-ms-input-placeholder {
  font-size: 1.6;
  line-height: 1.8;
  color: #777777;
  font-weight: 400;
}

h1, .heading-1 {
  font-size: 40px;
}
@media (max-width: 768px) {
  h1, .heading-1 {
    font-size: 25px;
  }
}

h2, .heading-2 {
  font-size: 32px;
}
@media (max-width: 768px) {
  h2, .heading-2 {
    font-size: 17px;
  }
}

h3, .heading-3 {
  font-size: 28px;
}

h4, .heading-4 {
  font-size: 24px;
}

h5, .heading-5 {
  font-size: 20px;
}

h6, .heading-6 {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6,
.heading-1, .heading-2,
.heading-3, .heading-4,
.heading-5, .heading-6 {
  line-height: 1.4;
  color: #242424;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.heading-1, .heading-2,
.heading-3, .heading-4,
.heading-5, .heading-6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #041e49;
}

.big-font1, .big-font2, .big-font3 {
  line-height: 1.3;
  font-weight: 700;
}

.big-font1 {
  font-size: 60px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .big-font1 {
    font-size: 45px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .big-font1 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .big-font1 {
    font-size: 35px;
  }
}

.big-font2 {
  font-size: 48px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .big-font2 {
    font-size: 33px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .big-font2 {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .big-font2 {
    font-size: 28px;
  }
}

.big-font3 {
  font-size: 40px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .big-font3 {
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .big-font3 {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .big-font3 {
    font-size: 25px;
  }
}

.big-font4 {
  font-size: 24px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .big-font4 {
    font-size: 9px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .big-font4 {
    font-size: 4px;
  }
}
@media (max-width: 768px) {
  .big-font4 {
    font-size: 4px;
  }
}

small,
.small {
  font-size: 14px;
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.weight-semibold {
  font-weight: 600 !important;
}

.weight-medium {
  font-weight: 500 !important;
}

.weight-normal {
  font-weight: 400 !important;
}

.weight-light {
  font-weight: 300 !important;
}

.white-all h1, .white-all h2, .white-all h3, .white-all h4, .white-all h5, .white-all h6, .white-all p, .white-all a, .white-all span, .white-all label, .white-all input, .white-all textarea, .white-all em, .white-all b, .white-all * {
  color: #ffffff !important;
}

.white-text {
  color: #ffffff !important;
}

/* ==============================================

1. Bg Color

============================================== */
.bg-color1 {
  background-color: #ffffff;
}

.bg-color2 {
  background-color: #216ae6;
}

.bg-color3 {
  background-color: #4986ee;
}

.bg-color4 {
  background-color: #fafcff;
}

.bg-color5 {
  background-color: #F5F5F7;
}

.bg-overlay:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #216ae6;
  opacity: 0.95;
  z-index: 1;
}

.bg-color-gray {
  background-color: #242424;
}

.bg-color-black {
  background-color: #000000;
}

.social-color1 {
  color: #3c5a98;
}

.social-color2 {
  color: #4f7ea6;
}

.social-color3 {
  color: #29a8eb;
}

div[class*=-wrapper] {
  position: relative;
  z-index: 3;
}

/* ==============================================

2. Bg Image

============================================== */
.bg-image1 {
  background: #ffffff url("../images/watch-video-bg.jpg") no-repeat fixed center/cover;
}

.bg-image2 {
  background: #ffffff url("../images/bg-image1.jpg") no-repeat fixed center/cover;
}

.bg-image3 {
  background: #ffffff url("../images/watch-video-bg.jpg") no-repeat fixed center/cover;
}

/* ==============================================

3. Form & Button

============================================== */
form,
fieldset {
  padding: 0;
  margin: 0;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=search],
input[type=password],
textarea[class], select {
  transition: all 500ms ease;
  font-size: inherit;
  padding: 15px 20px;
  border-radius: 4px;
  color: inherit;
  background-color: transparent;
  border: 1px solid #e3e3e3;
}
input[type=text]:focus, input[type=text]:hover, input[type=text]:active,
input[type=tel]:focus,
input[type=tel]:hover,
input[type=tel]:active,
input[type=email]:focus,
input[type=email]:hover,
input[type=email]:active,
input[type=search]:focus,
input[type=search]:hover,
input[type=search]:active,
input[type=password]:focus,
input[type=password]:hover,
input[type=password]:active,
textarea[class]:focus,
textarea[class]:hover,
textarea[class]:active, select:focus, select:hover, select:active {
  color: inherit;
  background-color: #ffffff;
  border: 1px solid #2e75d8;
}

button,
input[type=button],
input[type=reset],
input[type=file],
input[type=submit] {
  transition: all 500ms ease;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2e75d8;
  border: 1px solid #2e75d8;
}
button:focus, button:hover, button:active,
input[type=button]:focus,
input[type=button]:hover,
input[type=button]:active,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=reset]:active,
input[type=file]:focus,
input[type=file]:hover,
input[type=file]:active,
input[type=submit]:focus,
input[type=submit]:hover,
input[type=submit]:active {
  color: #2e75d8;
  background-color: #f5f5f5;
  border: 1px solid #2e75d8;
}

.ads-btn1 {
  font-size: 20px;
  padding: 16px 20px;
  border-radius: 4px;
  color: #2e75d8;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.ads-btn1:focus, .ads-btn1:hover, .ads-btn1:active {
  color: #ffffff;
  background-color: #2e75d8;
  border: 1px solid #2e75d8;
}
.ads-btn1 span {
  margin-left: 10px;
}
.ads-btn1 img {
  height: 20px;
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.ads-btn2 {
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}
.ads-btn2:focus, .ads-btn2:hover, .ads-btn2:active {
  color: #ffffff;
  background-color: #2e75d8;
  border: 1px solid #2e75d8;
}
.ads-btn2 span {
  margin-left: 10px;
  vertical-align: middle;
}
.ads-btn2 img {
  height: 20px;
  width: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.ads-btn3 {
  font-size: 20px;
  padding: 16px 30px;
  border-radius: 4px;
  color: #777777;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
}
.ads-btn3:focus, .ads-btn3:hover, .ads-btn3:active {
  color: #ffffff;
  background-color: #2e75d8;
  border: 1px solid #ffffff;
}
.ads-btn3 span {
  float: left;
  margin-left: 10px;
  text-align: left;
}
.ads-btn3 span em {
  display: block;
  font-size: 12px;
}
.ads-btn3 img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  float: left;
}

.ads-btn4 {
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
}
.ads-btn4:focus, .ads-btn4:hover, .ads-btn4:active {
  color: #ffffff;
  background-color: #2e75d8;
  border: 1px solid #e3e3e3;
}
.ads-btn4 span {
  margin-left: 10px;
  vertical-align: middle;
  float: left;
  text-align: left;
}
.ads-btn4 span em {
  display: block;
  font-size: 12px;
}
.ads-btn4 img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  float: left;
}

.btn-bordered {
  border: 3px solid;
  font-size: 12px;
  font-weight: 600;
  padding: 12px 28px;
  letter-spacing: 1px;
}
.btn-bordered.border--white {
  border-color: #ffffff;
  color: #ffffff;
}
.btn-bordered.border--dark {
  border-color: #242424;
  color: #242424;
}

/* ==============================================

4. Section & Inner Title

============================================== */
.section-title {
  position: relative;
  bottom: 9px;
}
.section-title h2 {
  margin-bottom: 60px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .section-title h2 {
    margin-bottom: 20px;
  }
}
.section-title p {
  margin: 0;
}
@media (max-width: 768px) {
  .section-title {
    bottom: 0px;
  }
}

.inner-title {
  margin-bottom: 20px;
}
.inner-title h3, .inner-title h4, .inner-title h5, .inner-title h6 {
  margin: 0;
}

/* ==============================================

5. Shape  Animation

============================================== */
.themeix-ani .shape-one {
  position: absolute;
  left: 9%;
  top: 28%;
  -webkit-animation: animationFramesOne 25s alternate infinite linear;
          animation: animationFramesOne 25s alternate infinite linear;
}
.themeix-ani .shape-two {
  position: absolute;
  left: 38%;
  bottom: 25%;
  -webkit-animation: animationFramesTwo 35s alternate infinite linear;
          animation: animationFramesTwo 35s alternate infinite linear;
}
.themeix-ani .shape-tree {
  position: absolute;
  bottom: 60%;
  right: 10%;
  -webkit-animation: animationFramesFour 20s infinite linear;
          animation: animationFramesFour 20s infinite linear;
}
.themeix-ani .shape-four {
  position: absolute;
  bottom: 10%;
  right: 40%;
  -webkit-animation: rotated 20s infinite linear;
          animation: rotated 20s infinite linear;
}
.themeix-ani .shape-five {
  position: absolute;
  bottom: 20%;
  left: 10%;
  -webkit-animation: animationFramesFive 20s infinite linear;
          animation: animationFramesFive 20s infinite linear;
}
.themeix-ani .shape-six {
  position: absolute;
  -webkit-animation: rotated 50s infinite linear;
          animation: rotated 50s infinite linear;
}
@media (max-width: 768px) {
  .themeix-ani {
    display: none;
  }
}

/* ==============================================

6. Header Area

============================================== */
.main-area {
  overflow: hidden;
}

.header-area, .header-area--gray {
  margin-bottom: 430px;
}
.header-area:before, .header-area--gray:before {
  content: "";
  height: 700px;
  border-bottom-left-radius: 270px;
  border-bottom-right-radius: 270px;
  background: #216ae6;
  display: block;
  position: absolute;
  transform: rotate(6deg);
  left: -50px;
  right: -70px;
  bottom: -292px;
  z-index: 1;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area:before, .header-area--gray:before {
    bottom: -240px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-area:before, .header-area--gray:before {
    display: none;
  }
}
@media (max-width: 768px) {
  .header-area:before, .header-area--gray:before {
    display: none;
  }
}
.header-area .header-lang, .header-area--gray .header-lang {
  padding: 15px 75px;
}
.header-area .header-banner, .header-area--gray .header-banner {
  padding: 180px 50px 0px 0px;
  z-index: 3;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .header-banner, .header-area--gray .header-banner {
    padding: 100px 0px 0px 0px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-area .header-banner, .header-area--gray .header-banner {
    padding: 40px 0px 100px 0px;
  }
}
@media (max-width: 768px) {
  .header-area .header-banner, .header-area--gray .header-banner {
    padding: 60px 0px 80px 0px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area, .header-area--gray {
    margin-bottom: 277px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-area, .header-area--gray {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .header-area, .header-area--gray {
    margin: 0;
  }
}

.header-area--gray {
  background: #242424;
}
.header-area--gray:before {
  background: #242424;
}

.page-area {
  margin-bottom: 276px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .page-area {
    margin-bottom: 208px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .page-area {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .page-area {
    margin: 0;
  }
}
.page-area:before {
  bottom: -210px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .page-area:before {
    bottom: -170px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .page-area:before {
    bottom: -170px;
  }
}
@media (max-width: 768px) {
  .page-area:before {
    bottom: -170px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .page-area .header-page-title {
    padding-top: 90px;
  }
}
@media (max-width: 768px) {
  .page-area .header-page-title {
    padding-top: 50px;
  }
}
.page-area .header-shape .left {
  left: -190px;
  top: -770px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .page-area .header-shape .left {
    left: -100px;
    top: -305px;
    width: 470px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .page-area .header-shape .left {
    left: -120px;
    top: -300px;
    width: 470px;
  }
}
@media (max-width: 768px) {
  .page-area .header-shape .left {
    left: -140px;
    top: -220px;
    width: 470px;
  }
}
.page-area .header-shape .right {
  right: -600px;
  top: -510px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .page-area .header-shape .right {
    right: -250px;
    top: -90px;
    width: 480px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .page-area .header-shape .right {
    right: -250px;
    top: -180px;
    width: 480px;
  }
}
@media (max-width: 768px) {
  .page-area .header-shape .right {
    right: -250px;
    top: -90px;
    width: 480px;
  }
}

.header-shape {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.header-shape .left {
  position: absolute;
  left: -190px;
  top: -690px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-shape .left {
    left: -140px;
    top: -220px;
    width: 470px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-shape .left {
    left: -80px;
    top: -220px;
    width: 400px;
  }
}
.header-shape .right {
  position: absolute;
  right: -640px;
  top: -610px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-shape .right {
    right: -295px;
    top: -90px;
    width: 600px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-shape .right {
    right: -250px;
    top: -90px;
    width: 480px;
  }
}
.header-shape img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .header-shape {
    display: none;
  }
}

.header-nav {
  padding-top: 70px;
  display: table;
  width: 100%;
  position: relative;
  z-index: 10;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-nav {
    padding-top: 30px;
  }
}
@media (max-width: 768px) {
  .header-nav {
    padding-top: 30px;
  }
}
.header-nav .themeix-navbar {
  padding: 0;
}
.header-nav .header-logo {
  padding: 15px 0;
  float: left;
}
.header-nav .header-logo-text :first-child {
  font-size: 24px;
  font-weight: 600;
}
.header-nav .header-logo-text p {
  line-height: 1.2;
  margin: 0;
}
.header-nav .themeix-navbar {
  float: right;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-nav .themeix-navbar {
    float: none;
  }
}
@media (max-width: 768px) {
  .header-nav .themeix-navbar {
    float: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-nav .main-menu {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
    border-radius: 5px;
    top: 0;
  }
}
@media (max-width: 768px) {
  .header-nav .main-menu {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
    border-radius: 5px;
    top: 0;
  }
}
.header-nav .main-menu li {
  border: 0 !important;
  background-color: transparent;
}
.header-nav .main-menu li a {
  padding: 15px 15px 15px 15px;
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-nav .main-menu li a {
    color: #777777;
  }
}
@media (max-width: 768px) {
  .header-nav .main-menu li a {
    color: #777777;
  }
}
.header-nav .main-menu li.has-submenu a {
  padding: 15px 30px 15px 15px;
}
.header-nav .main-menu li.has-submenu ul li {
  background-color: #ffffff;
}
.header-nav .main-menu li.has-submenu ul li a {
  color: #777777;
  padding: 10px 15px;
  transition: all 500ms ease;
}
.header-nav .main-menu li.has-submenu ul li a:hover {
  text-indent: 2px;
  color: #216ae6;
}
.header-nav .main-menu li.has-submenu > ul:before {
  content: "";
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  display: block;
  position: relative;
  left: 10px;
  top: 10px;
  transform: rotate(45deg);
}
.header-nav .main-menu li .sub-toggle {
  background: transparent;
  width: 20px;
}
.header-nav .main-menu li .sub-toggle i:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  position: absolute;
  color: #ffffff;
  font-style: normal;
}
@media (max-width: 768px) {
  .header-nav .main-menu li .sub-toggle i:before {
    color: #041e49;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-nav .main-menu li .sub-toggle i:before {
    color: #041e49;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-nav .main-menu li .sub-toggle {
    width: 45px;
    height: 100% !important;
  }
}
@media (max-width: 768px) {
  .header-nav .main-menu li .sub-toggle {
    width: 45px;
    height: 100% !important;
  }
}
.header-nav .main-menu li a:hover, .header-nav .main-menu li a:focus {
  background-color: transparent;
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-nav .main-menu li a:hover, .header-nav .main-menu li a:focus {
    color: #216ae6;
  }
}
@media (max-width: 768px) {
  .header-nav .main-menu li a:hover, .header-nav .main-menu li a:focus {
    color: #216ae6;
  }
}
.header-nav .main-menu li .sub-toggle i {
  color: transparent;
  position: relative;
}
.header-nav .main-menu li.has-submenu ul {
  position: absolute;
  min-width: 180px;
}
.header-nav .main-menu li.has-submenu ul li {
  float: none;
  display: block;
}
.header-nav .menu-collapser .collapse-button {
  top: -38px;
}
.header-nav .menu-collapser .collapse-button .icon-bar {
  background-color: #ffffff;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-nav .col-lg-10 {
    position: static;
  }
}
@media (max-width: 768px) {
  .header-nav .col-lg-10 {
    position: static;
  }
}

@-webkit-keyframes banner-mockup {
  0% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(8px);
  }
}
@keyframes banner-mockup {
  0% {
    transform: translateY(16px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(16px);
  }
}
.header-banner .banner-content {
  padding-right: 30px;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-banner .banner-content {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .header-banner .banner-content {
    padding-right: 0;
  }
}
.header-banner .banner-content h5 {
  max-width: 450px;
  width: 100%;
}
.header-banner .banner-content ul {
  font-size: 20px;
  list-style: none;
  padding-left: 0;
}
.header-banner .banner-content ul li {
  line-height: 1.5;
}
.header-banner .banner-content ul li:before {
  content: "✓";
  padding-right: 0.5em;
}
.header-banner .banner-content .open-btn {
  letter-spacing: 1px;
  font-size: 12px;
  padding: 22px 55px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #536DFE;
  border: #536DFE;
}
.header-banner .banner-content .open-btn:focus, .header-banner .banner-content .open-btn:hover, .header-banner .banner-content .open-btn:active {
  color: #ffffff;
  background-color: #6c83fe;
  border: #536DFE;
}
@media (max-width: 576px) {
  .header-banner .banner-content .open-btn {
    width: 100%;
  }
}
.header-banner .banner-mockup {
  z-index: 2;
  position: absolute;
  -webkit-animation-name: banner-mockup-sink, banner-mockup;
          animation-name: banner-mockup-sink, banner-mockup;
  -webkit-animation-duration: 0.3s, 1.5s;
          animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
          animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
          animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
          animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
          animation-direction: normal, alternate;
}
@media (max-width: 768px) {
  .header-banner .banner-mockup {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header-banner .banner-mockup {
    margin: 0;
  }
  .header-banner .banner-mockup img {
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-banner .banner-mockup {
    margin: 0;
  }
  .header-banner .banner-mockup img {
    max-width: 100%;
  }
}
.header-banner .banner-ads-btn li {
  margin-right: 20px;
  margin-bottom: 10px;
}
.header-banner .banner-ads-btn li:last-child {
  margin: 0;
}
@media (max-width: 576px) {
  .header-banner .banner-ads-btn li {
    display: block;
    margin-right: 0;
  }
  .header-banner .banner-ads-btn li a {
    display: block;
  }
}

.header-page-title {
  position: relative;
  z-index: 3;
  padding-top: 160px;
}
.header-page-title .page-post-date {
  margin: 0;
}
.header-page-title .page-post-date li {
  margin-right: 20px;
}
.header-page-title .page-post-date li img {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header-page-title .author-name img {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-page-title .author-name .social-link {
  margin: 0;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .header-page-title {
    padding-top: 60px;
    padding-bottom: 90px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-page-title {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

/* ==============================================

7. Service Area

============================================== */
.line-color1 {
  background-color: #fec2c2;
}

.line-color2 {
  background-color: #b0ffca;
}

.line-color3 {
  background-color: #d8c8fc;
}

.service-box {
  text-align: center;
  margin-bottom: 30px;
}
.service-box .service-logo {
  padding: 21px 5px;
  width: 85px;
  height: 85px;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 rgba(25, 100, 227, 0.1);
  display: block;
  text-align: center;
  vertical-align: middle;
  margin: auto auto 30px;
  transition: all 500ms ease;
}
.service-box .service-logo img {
  max-height: 40px;
}
.service-box .service-content h5, .service-box .service-content h4, .service-box .service-content h3 {
  margin-bottom: 20px;
}
.service-box .service-content p {
  margin-bottom: 30px;
}
.service-box .service-line {
  position: relative;
  width: 2px;
  height: 70px;
  display: block;
  top: 0;
  margin: auto auto 0;
  transition: all 500ms ease;
}
.service-box:hover .service-logo {
  box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
}
.service-box:hover .service-line {
  top: -15px;
}

/* ==============================================

8. Feature Area

============================================== */
.feature-box {
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
  padding: 90px 30px 70px;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 5px;
  transition: all 500ms ease;
}
.feature-box .feature-logo {
  width: 85px;
  height: 85px;
  box-shadow: 0 0 10px 0 rgba(25, 100, 227, 0.1);
  border-radius: 50px;
  margin: auto auto 30px;
  padding: 21px 5px;
  transition: all 500ms ease;
}
.feature-box .feature-logo img {
  max-height: 40px;
}
.feature-box:after {
  content: "";
  width: 170px;
  height: 1px;
  display: block;
  background: #6d49bf;
  opacity: 0.14;
  position: absolute;
  top: 50px;
  left: 30px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .feature-box:after {
    display: none;
  }
}
.feature-box:before {
  content: "";
  width: 1px;
  height: 170px;
  display: block;
  background: #6d49bf;
  opacity: 0.14;
  position: absolute;
  top: 30px;
  left: 50px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .feature-box:before {
    display: none;
  }
}
.feature-box .feature-content h3, .feature-box .feature-content h4, .feature-box .feature-content h5 {
  margin-bottom: 20px;
}
.feature-box .feature-content p {
  margin: 0;
}
.feature-box .feature-shape {
  width: 100%;
  height: 110px;
  background: #ffffff;
  opacity: 0.03;
  display: block;
  border-radius: 50px;
  position: absolute;
  top: -8px;
  right: -140px;
  transform: rotate(-55deg);
}
.feature-box:hover {
  background-color: #536DFE;
}
.feature-box:hover * {
  color: #ffffff;
}
.feature-box:hover .feature-logo {
  background-color: #ffffff;
}
.feature-box:hover:before {
  background-color: #ffffff;
  opacity: 0.15;
}
.feature-box:hover:after {
  background-color: #ffffff;
  opacity: 0.15;
}
@media (min-width: 768px) and (max-width: 992px) {
  .feature-box {
    padding: 40px 15px;
  }
}

.feature-img {
  margin-bottom: 30px;
}
.feature-img .image-cloud {
  margin-bottom: 200px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .feature-img .image-cloud {
    margin-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .feature-img .image-cloud {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .feature-img .image-cloud {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .feature-img .image-mockup {
    max-width: 100%;
  }
}

/* ==============================================

9. Watch Video Area

============================================== */
.watch-video-play {
  position: relative;
  margin-top: 240px;
}
.watch-video-play img {
  max-width: 100%;
  border-radius: 5px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .watch-video-play {
    margin-top: 0;
    margin-bottom: 30px;
    padding-right: 15px;
  }
}
@media (max-width: 768px) {
  .watch-video-play {
    margin-top: 0;
    margin-bottom: 30px;
    padding-right: 15px;
  }
}
.watch-video-play .play-btn {
  padding: 29px 10px;
  display: block;
  text-align: center;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
  -webkit-animation: play-btn 1.5s infinite;
          animation: play-btn 1.5s infinite;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.watch-video-play .play-btn i {
  font-size: 32px;
}
.watch-video-play .play-btn:hover {
  -webkit-animation: none;
  animation: none;
}
@-webkit-keyframes play-btn {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes play-btn {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.watch-video-content .watch-video-top {
  background-color: #4986ee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px 60px;
}
.watch-video-content .watch-video-top h2 {
  margin: 0;
}
@media (max-width: 768px) {
  .watch-video-content .watch-video-top {
    padding: 15px 30px;
  }
}
.watch-video-content .watch-video-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffffff;
  padding: 50px 60px;
}
.watch-video-content .watch-video-bottom p {
  margin: 0;
}
@media (max-width: 768px) {
  .watch-video-content .watch-video-bottom {
    padding: 30px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .watch-video-content {
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  .watch-video-content {
    padding-left: 15px;
  }
}

.watch-arrow {
  margin: 20px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .watch-arrow {
    display: none;
  }
}
@media (max-width: 768px) {
  .watch-arrow {
    display: none;
  }
}

/* ==============================================

10. Apps Screenshot Area

============================================== */
.swiper-slide img {
  width: 100%;
}

.screenshot-list {
  position: relative;
}
.screenshot-list li {
  padding-left: 25px;
  margin-bottom: 15px;
}
.screenshot-list li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f068";
  position: absolute;
  left: 0;
  color: #216ae6;
}

.screenshot-content {
  margin-bottom: 30px;
}

.swiper-container {
  margin-bottom: 30px;
}

.apps-download-link p {
  color: #041e49;
  margin: 0;
}

.swiper-slide {
  margin: 15px 0;
}

.swiper-slide-active {
  box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
}

/* ==============================================

11. Apps Store Area

============================================== */
.apps-store-list {
  position: relative;
}
.apps-store-list li {
  padding-left: 20px;
  margin-bottom: 15px;
}
.apps-store-list li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f111";
  font-size: 8px;
  position: absolute;
  line-height: 30px;
  left: 0;
  color: #216ae6;
}

.apps-store-img img {
  z-index: 2;
  position: relative;
}
@media (max-width: 768px) {
  .apps-store-img img {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .apps-store-img {
    margin-bottom: 30px;
  }
}

.apps-store-btn li {
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .apps-store-btn li {
    display: block;
    float: none;
    margin-right: 0 !important;
  }
  .apps-store-btn li a {
    width: 100%;
  }
}

.shape-six {
  bottom: 0;
  right: -650px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .shape-six {
    right: -350px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .shape-six {
    right: -407px;
  }
}

/* ==============================================

12. Testimonial Area

============================================== */
.testimonial-thumbs {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  min-height: 350px;
}
.testimonial-thumbs li {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(25, 100, 227, 0.1);
}
.testimonial-thumbs li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
  height: 80px;
}
.testimonial-thumbs li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: #216ae6;
  opacity: 0;
  transition: all 500ms ease;
}
.testimonial-thumbs .active:before {
  opacity: 0.5;
}
.testimonial-thumbs li:nth-child(1) {
  left: -270px;
  top: -267px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .testimonial-thumbs li:nth-child(1) {
    left: -150px;
  }
}
.testimonial-thumbs li:nth-child(2) {
  left: 270px;
  top: -180px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .testimonial-thumbs li:nth-child(2) {
    left: 180px;
  }
}
.testimonial-thumbs li:nth-child(3) {
  left: -270px;
  top: 120px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .testimonial-thumbs li:nth-child(3) {
    left: -145px;
    top: 220px;
  }
}
.testimonial-thumbs li:nth-child(4) {
  right: -210px;
  top: 270px;
}
.testimonial-thumbs li:nth-child(5) {
  width: 60px;
  height: 60px;
}
.testimonial-thumbs li:nth-child(5) img {
  width: 60px;
  height: 60px;
}
@media (max-width: 768px) {
  .testimonial-thumbs {
    display: none;
  }
}

.testimonial-slider .author-content {
  position: relative;
  box-shadow: 0 0 30px 0px rgba(25, 100, 227, 0.07);
  padding: 60px 70px 70px 70px;
  margin: 120px 0;
}
.testimonial-slider .author-content:before {
  content: "";
  background-image: url(../images/quote-top.png);
  width: 90px;
  height: 76px;
  background-size: cover;
  display: block;
  position: absolute;
  top: -120px;
  left: 0;
  z-index: 1;
}
.testimonial-slider .author-content:after {
  content: "";
  background-image: url(../images/quote-bottom.png);
  width: 90px;
  height: 75px;
  background-size: cover;
  display: block;
  position: absolute;
  bottom: -120px;
  right: 0;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 992px) {
  .testimonial-slider .author-content {
    padding: 30px 30px;
    box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
    margin: 40px 0;
  }
}
@media (max-width: 768px) {
  .testimonial-slider .author-content {
    padding: 30px 30px;
    box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
    margin: 25px 0;
  }
}
.testimonial-slider .author-desc h2 {
  margin-bottom: 40px;
  font-weight: 600;
}
.testimonial-slider .author-desc p {
  margin-bottom: 40px;
}
.testimonial-slider .author-name h4, .testimonial-slider .author-name h5 {
  margin: 0;
}
.testimonial-slider .author-name a {
  color: #041e49;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}
.testimonial-slider .author-name a:hover {
  color: #216ae6;
}
.testimonial-slider .author-name span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}
.testimonial-slider .owl-dots {
  text-align: center;
  margin-top: 30px;
}
.testimonial-slider .owl-dots .owl-dot {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: #fafcff;
}
.testimonial-slider .owl-dots .owl-dot.active {
  background-color: #216ae6;
}

/* ==============================================

13. Price Plan  Area

============================================== */
.price-plan-title {
  position: relative;
  bottom: 10px;
}
.price-plan-title h2 {
  font-weight: 600;
  margin-bottom: 40px;
}
.price-plan-title p {
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .price-plan-title {
    margin-bottom: 60px;
    bottom: 0px;
  }
}
@media (max-width: 768px) {
  .price-plan-title {
    margin-bottom: 50px;
    bottom: 0px;
  }
}

.price-plan-box {
  box-shadow: 0 0 10px 0 rgba(25, 100, 227, 0.1);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}
.price-plan-box .price-title {
  display: table;
  width: 100%;
}
.price-plan-box .price-title .price-curency {
  width: 140px;
  height: 120px;
  background-color: #216ae6;
  float: left;
}
.price-plan-box .price-title .price-curency p {
  font-size: 60px;
  font-weight: 300;
  color: #ffffff;
  margin: 6px 0px;
}
.price-plan-box .price-title .price-curency p sup {
  font-size: 30px;
  top: -25px;
  margin-right: 5px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .price-plan-box .price-title .price-curency p {
    font-size: 40px;
    margin: 30px 0px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .price-plan-box .price-title .price-curency {
    width: 100px;
  }
}
.price-plan-box .price-title .price-package {
  width: calc(100% - 140px);
  height: 120px;
  background-color: #fafcff;
  float: left;
}
.price-plan-box .price-title .price-package h5 {
  font-size: 20px;
  color: #041e49;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  .price-plan-box .price-title .price-package {
    width: calc(100% - 100px);
  }
}
.price-plan-box .price-content {
  background-color: #ffffff;
  padding: 50px 30px 60px;
}
.price-plan-box .price-content .price-list {
  margin-bottom: 50px;
}
.price-plan-box .price-content .price-list li {
  margin-bottom: 15px;
}
.price-plan-box .price-content .price-btn {
  font-size: 16px;
  padding: 15px 40px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #216ae6;
  border: 1px solid #2e75d8;
}
.price-plan-box .price-content .price-btn:focus, .price-plan-box .price-content .price-btn:hover, .price-plan-box .price-content .price-btn:active {
  color: #2e75d8;
  background-color: #ffffff;
  border: 1px solid #2e75d8;
}
@media (max-width: 576px) {
  .price-plan-box .price-content .price-btn {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .price-plan-box .price-content {
    padding: 30px 15px;
  }
}
@media (max-width: 768px) {
  .price-plan-box {
    margin-top: 0;
  }
}

/* ==============================================

14. Blog Area

============================================== */
.blog-area .all-view-btn {
  position: absolute;
  bottom: 60px;
  right: 15px;
}
@media (max-width: 768px) {
  .blog-area .all-view-btn {
    display: none;
  }
}

.blog-media img {
  width: 100%;
}

.blog-post {
  margin-bottom: 30px;
}
.blog-post .post-img img {
  width: 100%;
  max-height: 400px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-post .post-content {
  border-top-right-radius: 5px;
  overflow: hidden;
  position: relative;
  padding: 60px 50px;
  box-shadow: 0 0 10px 0 rgba(25, 100, 227, 0.1);
  transition: all 500ms ease;
  border-radius: 5px;
  background-color: #ffffff;
  width: calc(100% - 60px);
  top: 0;
  right: -30px;
  margin-top: -150px;
}
@media (max-width: 768px) {
  .blog-post .post-content {
    margin: 0;
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding: 30px 15px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .blog-post .post-content {
    margin: 0;
    position: relative;
    width: 100%;
    margin-top: 15px;
    padding: 30px 15px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .blog-post .post-content {
    margin: 0;
    position: relative;
    width: 100%;
    margin-top: 15px;
    padding: 30px 15px;
  }
}
.blog-post .post-content:hover {
  box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
}
.blog-post .post-date {
  width: 76px;
  background-color: #216ae6;
  display: block;
  position: absolute;
  top: 0;
  font-weight: 300;
  right: 0;
  font-size: 40px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  padding: 15px 10px 10px;
}
.blog-post .post-date span {
  display: block;
  font-size: 16px;
}
.blog-post .meta-info {
  margin: 0;
  margin-top: 10px;
}
.blog-post .meta-info li {
  font-weight: 300;
  margin-right: 20px;
  font-size: 14px;
}
.blog-post .meta-info li a {
  font-size: 14px;
  color: #777777;
}
.blog-post .meta-info li i {
  margin-right: 5px;
}
.blog-post .post-author {
  display: table;
  width: 100%;
  margin-bottom: 30px;
}
.blog-post .post-author .author-img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  overflow: hidden;
  float: left;
}
.blog-post .post-author .author-img img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-post .post-author .author-content {
  width: calc(100% - 40px);
  padding-left: 10px;
  line-height: 18px;
  font-weight: 500;
  float: left;
}
.blog-post .post-author .author-content > a {
  display: inline-block;
  color: #041e49;
  font-weight: 600;
}
.blog-post .post-author .author-content > a:hover {
  color: #216ae6;
}
.blog-post .post-author .author-content span {
  font-size: 14px;
  font-weight: 400;
}
.blog-post .post-desc h5 {
  margin-bottom: 30px;
}
.blog-post .post-desc p {
  margin-bottom: 30px;
}
.blog-post .post-desc .post-btn {
  color: #216ae6;
  padding: 0;
  font-weight: 600;
}
.blog-post .post-desc .post-btn:hover {
  color: #041e49;
}

.reverse-loop > .row > .col-md-6:nth-child(4n+2) .blog-post,
.reverse-loop > .row > .col-md-6:nth-child(4n+3) .blog-post {
  width: 100%;
  height: calc(100% - 30px);
}
.reverse-loop > .row > .col-md-6:nth-child(4n+2) .blog-post .post-img,
.reverse-loop > .row > .col-md-6:nth-child(4n+3) .blog-post .post-img {
  position: absolute;
  bottom: 0;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .reverse-loop > .row > .col-md-6:nth-child(4n+2) .blog-post .post-img,
.reverse-loop > .row > .col-md-6:nth-child(4n+3) .blog-post .post-img {
    position: relative;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .reverse-loop > .row > .col-md-6:nth-child(4n+2) .blog-post .post-img,
.reverse-loop > .row > .col-md-6:nth-child(4n+3) .blog-post .post-img {
    position: relative;
  }
}
@media (max-width: 768px) {
  .reverse-loop > .row > .col-md-6:nth-child(4n+2) .blog-post .post-img,
.reverse-loop > .row > .col-md-6:nth-child(4n+3) .blog-post .post-img {
    position: relative;
  }
}
.reverse-loop > .row > .col-md-6:nth-child(4n+2) .blog-post .post-content,
.reverse-loop > .row > .col-md-6:nth-child(4n+3) .blog-post .post-content {
  margin-top: 0;
  margin-bottom: 150px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .reverse-loop > .row > .col-md-6:nth-child(4n+2) .blog-post .post-content,
.reverse-loop > .row > .col-md-6:nth-child(4n+3) .blog-post .post-content {
    margin-bottom: 0;
    margin-top: 15px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .reverse-loop > .row > .col-md-6:nth-child(4n+2) .blog-post .post-content,
.reverse-loop > .row > .col-md-6:nth-child(4n+3) .blog-post .post-content {
    margin-bottom: 0;
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .reverse-loop > .row > .col-md-6:nth-child(4n+2) .blog-post .post-content,
.reverse-loop > .row > .col-md-6:nth-child(4n+3) .blog-post .post-content {
    margin-bottom: 0;
    margin-top: 15px;
  }
}

.all-view-btn {
  display: inline-block;
  font-size: inherit;
  padding: 15px 40px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(25, 100, 227, 0.1);
  color: #2e75d8;
  background-color: #ffffff;
  border: 1px solid #f5f5f5;
}
.all-view-btn:focus, .all-view-btn:hover, .all-view-btn:active {
  color: inherit;
  background-color: #ffffff;
  border: 1px solid #2e75d8;
}

.author-post {
  text-align: center;
  margin-bottom: 60px;
}
.author-post .author-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(25, 100, 227, 0.1);
  transition: all 500ms ease;
  margin: auto;
  margin-bottom: 20px;
}
.author-post .author-img img {
  width: 100px;
  height: 100px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.author-post .author-content h6 {
  margin: 0;
}
.author-post:hover .author-img {
  box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
}
@media (max-width: 768px) {
  .author-post {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .author-post {
    margin-bottom: 30px;
  }
}

.page-navigation .pagination {
  margin: 0;
}
.page-navigation li:first-child a,
.page-navigation li:last-child a {
  border-radius: 0 !important;
}
.page-navigation li a {
  border: 1px solid #f7f7f7;
  width: 40px;
  height: 40px;
  background-color: #fafcff;
  margin-right: 20px;
  font-size: 20px;
  padding: 7px 4px;
  text-align: center;
}
.page-navigation li a:hover, .page-navigation li a.active {
  background-color: #4986ee;
  border-color: #4986ee;
  color: #ffffff;
}

.entry-content .first-word {
  font-size: 70px;
  color: #b3cefc;
  line-height: 28.8px;
}
.entry-content img {
  margin-bottom: 30px;
  width: 100%;
}
.entry-content .list-dot li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f111";
  margin-right: 15px;
  font-size: 12px;
  color: #216ae6;
}
.entry-content blockquote {
  font-size: 20px;
  font-style: italic;
  margin: 30px 0;
}

.blog-post-tags-area li {
  position: relative;
}
.blog-post-tags-area li:after {
  content: ",";
  margin-left: 1px;
  font-size: inherit;
  font-weight: bold;
}
.blog-post-tags-area li:first-child:after {
  display: none;
}
.blog-post-tags-area li:last-child:after {
  display: none;
}

.blog-share-tags {
  display: table;
  width: 100%;
  box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
}
.blog-share-tags .blog-author-tags {
  float: left;
}
.blog-share-tags .blog-author-tags ul {
  margin: 0;
}
.blog-share-tags .blog-author-tags ul li:first-child {
  color: #041e49;
  font-weight: 600;
}
.blog-share-tags .blog-author-tags ul li a {
  color: #777777;
}
.blog-share-tags .blog-author-tags ul li a:hover {
  color: #216ae6;
}
.blog-share-tags .blog-author-share {
  float: right;
}
.blog-share-tags .blog-author-share ul {
  margin: 0;
}
.blog-share-tags .blog-author-share ul li {
  margin-right: 15px;
}
.blog-share-tags .blog-author-share ul li:last-child {
  margin: 0;
}
.blog-share-tags .blog-author-share ul li a {
  color: #777777;
  font-size: 14px;
}
.blog-share-tags .blog-author-share ul li a:hover {
  color: #216ae6;
}

.blog-author-admin {
  display: table;
  width: 100%;
}
.blog-author-admin .author-avatar {
  width: 135px;
  height: 135px;
  float: left;
}
.blog-author-admin .author-info {
  width: calc(100% - 135px);
  padding-left: 25px;
  float: left;
}
.blog-author-admin .author-info .social-link {
  margin: 0;
}
.blog-author-admin .author-info .social-link li a {
  color: #777777;
  font-size: 14px;
}

.page-pagination .pagination {
  margin: 0;
  width: 100%;
}
.page-pagination .pagination .prev, .page-pagination .pagination .next {
  border-radius: 5px;
  padding: 15px 30px;
  box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
  border: 1px solid #f5f5f5;
  color: #041e49;
}

.latest-slider {
  position: relative;
}
.latest-slider .blog-latest .latest-img img {
  width: 100%;
}
.latest-slider .blog-latest .latest-content {
  transition: all 500ms ease;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #f5f5f5;
}
.latest-slider .blog-latest:hover .read-more-btn {
  color: #041e49;
}
.latest-slider .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 40px;
  margin: auto;
}
.latest-slider .owl-nav button.owl-prev span,
.latest-slider .owl-nav button.owl-next span {
  font-size: 30px;
  line-height: 30px;
}
.latest-slider .owl-nav button.owl-prev {
  border: transparent;
  background-color: #4986ee;
  color: #ffffff;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  float: left;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
}
.latest-slider .owl-nav button.owl-next {
  border: transparent;
  background-color: #4986ee;
  color: #ffffff;
  width: 40px;
  height: 40px;
  float: right;
  margin-right: 15px;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
}

.comment-wrapper .comments-box {
  display: table;
  width: 100%;
}
.comment-wrapper .comments-box .comment-avatar {
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
}
.comment-wrapper .comments-box .comment-avatar img {
  border-radius: 50px;
}
.comment-wrapper .comments-box .comment-content {
  width: calc(100% - 65px);
  padding-left: 15px;
  float: left;
}
.comment-wrapper .comments-box .comment-content .comment-date {
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}

#watch-video .modal-content {
  border: 0;
  box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
}
#watch-video .modal-header {
  border: 0;
  padding-bottom: 0;
}
#watch-video [type=button]:hover {
  border: 0;
}

.blog-spacing {
  margin-bottom: 60px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .blog-spacing {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .blog-spacing {
    margin-bottom: 30px;
  }
}

.modal-backdrop.show {
  opacity: 1;
  background: #ffffff;
}

/* ==============================================

15. Sidebar Area

============================================== */
.sidebar-title {
  margin-bottom: 30px;
}

.sidebar-form form {
  border: 1px solid #f5f5f5;
  border-radius: 5px;
}
.sidebar-form input {
  font-size: 16px;
  padding: 15px 30px;
  border-radius: none;
  color: #2e75d8;
  background-color: transparent;
  border: none;
}
.sidebar-form input:focus, .sidebar-form input:hover, .sidebar-form input:active {
  color: #2e75d8;
  background-color: transparent;
  border: none;
}
.sidebar-form button {
  color: #2e75d8;
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 4px;
}
.sidebar-form button:focus, .sidebar-form button:hover, .sidebar-form button:active {
  color: #2e75d8;
  background-color: transparent;
  border: none;
}

.sidebar-list ul li {
  padding-left: 0;
  border: 0;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.sidebar-list ul li:first-child {
  border-top: 0;
  padding-top: 0;
}
.sidebar-list ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.sidebar-list ul li a {
  color: #777777;
}

.sidebar-blog .sidebar-latest {
  display: table;
  width: 100%;
}
.sidebar-blog .sidebar-latest .latest-img {
  width: 65px;
  height: 65px;
  float: left;
}
.sidebar-blog .sidebar-latest .latest-img img {
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar-blog .sidebar-latest .latest-content {
  width: calc(100% - 65px);
  padding-left: 15px;
  float: left;
}

.sidebar-social-link ul {
  margin: 0;
}
.sidebar-social-link ul li {
  text-align: center;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
}
.sidebar-social-link ul li a {
  display: inline-block;
}
.sidebar-social-link ul li i {
  font-size: 25px;
}
.sidebar-social-link ul li p {
  margin: 0;
  font-size: 18px;
  color: #041e49;
  line-height: 24px;
  font-weight: 600;
}
.sidebar-social-link ul li p span {
  display: block;
  color: #777777;
  font-weight: 400;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .sidebar-social-link ul li {
    padding: 5px 10px;
  }
}

.sidebar-widget {
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .sidebar-widget {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .sidebar-widget {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .sidebar-right {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .sidebar-left {
    margin-bottom: 60px;
  }
}

/* ==============================================

16. Newsletter Area

============================================== */
.newsletter-form {
  box-shadow: 0 0 10px 0 rgba(25, 100, 227, 0.1);
  padding: 80px 70px;
  border-radius: 5px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .newsletter-form {
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .newsletter-form {
    padding: 30px;
  }
}

.newsletter-img img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .newsletter-img img {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

/* ==============================================

18. Contact Area

============================================== */
.contact-info {
  text-align: center;
  padding: 0 30px;
}
.contact-info .info-logo {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
  margin: auto;
  margin-bottom: 25px;
}
.contact-info .info-logo img {
  bottom: 0;
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.contact-info .info-content h5 {
  margin-bottom: 15px;
}
.contact-info .info-content p a {
  color: #777777;
}
@media (max-width: 768px) {
  .contact-info {
    padding-left: 0;
    margin-bottom: 30px;
    text-align: left;
  }
  .contact-info .info-logo {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .contact-image img {
    max-width: 100%;
    margin-top: 30px;
  }
}

/* ==============================================

19. Feature Area

============================================== */
.features-cta {
  border-radius: 2px;
  margin: 150px 0 80px;
  padding: 55px 40px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .features-cta {
    margin: 75px 0;
  }
}
@media (max-width: 768px) {
  .features-cta {
    margin: 50px 0 20px;
  }
}
@media (max-width: 576px) {
  .features-cta {
    margin: 30px 0 0;
  }
}

/* ==============================================

20. Footer Area

============================================== */
.scrollToTop {
  margin: 0 15px 15px 0;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 0;
  background: #ffffff;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  box-shadow: 0 0 20px 0 rgba(25, 100, 227, 0.06);
  z-index: 111;
}

.scrollToTop:hover {
  text-decoration: none;
}

.footer-area, .footer-area--gray {
  margin-top: 265px;
}
.footer-area:before, .footer-area--gray:before {
  content: "";
  height: 700px;
  border-top-left-radius: 270px;
  border-top-right-radius: 270px;
  background: #216ae6;
  display: block;
  position: absolute;
  transform: rotate(6deg);
  left: -50px;
  right: -70px;
  top: -188px;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 992px) {
  .footer-area:before, .footer-area--gray:before {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer-area:before, .footer-area--gray:before {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .footer-area, .footer-area--gray {
    margin-top: 222px;
  }
}
@media (max-width: 768px) {
  .footer-area, .footer-area--gray {
    margin-top: 0;
    padding-top: 90px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .footer-area, .footer-area--gray {
    margin-top: 0;
    padding-top: 130px;
  }
}

.footer-area--gray {
  background: #242424;
}
.footer-area--gray:before {
  background: #242424;
}

.footer-logo {
  margin-bottom: 15px;
  display: block;
}
.footer-logo img {
  position: relative;
  z-index: 3;
}

.footer-widget {
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
.footer-widget .widget-title {
  margin-bottom: 10px;
}
.footer-widget .widget-title h5 {
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
}
.footer-widget .widget-title .widget-text {
  max-width: 350px;
  width: 100%;
}
.footer-widget p {
  color: rgba(255, 255, 255, 0.9);
}
.footer-widget .widget-list {
  margin: 0;
}
.footer-widget .widget-list li {
  margin-bottom: 5px;
}
.footer-widget .widget-list li a {
  color: rgba(255, 255, 255, 0.9);
}
.footer-widget .widget-list li a:hover {
  text-decoration: underline;
}
.footer-widget .social-link li {
  border-top: 1px solid transparent;
}
.footer-widget .social-link li a {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
}
.footer-widget .social-link li a:hover {
  color: white;
}
.footer-widget .social-link li:hover {
  border-top: 1px solid #2e75d8;
}
.footer-widget form ::-webkit-input-placeholder {
  color: #ffffff;
}
.footer-widget form :-moz-placeholder {
  color: #ffffff;
}
.footer-widget form ::-moz-placeholder {
  color: #ffffff;
}
.footer-widget form :-ms-input-placeholder {
  color: #ffffff;
}
.footer-widget form input {
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2e75d8;
  border: 1px solid #2e75d8;
}
.footer-widget form input:focus, .footer-widget form input:hover, .footer-widget form input:active {
  color: #ffffff;
  background-color: #2e75d8;
  border: 1px solid #2e75d8;
}
.footer-widget form button {
  color: #2e75d8;
  background-color: #f5f5f5;
  border: 1px solid #2e75d8;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 4px;
}
.footer-widget form button:focus, .footer-widget form button:hover, .footer-widget form button:active {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #e3e3e3;
}

.footer-copyright-wrapper {
  padding-bottom: 30px;
  position: relative;
  z-index: 2;
}
.footer-copyright-wrapper p, .footer-copyright-wrapper a {
  margin: 0;
  color: rgba(255, 255, 255, 0.9);
}
.footer-copyright-wrapper a:hover:hover {
  color: white;
}

.footer-shape {
  position: absolute;
  width: 100%;
}
.footer-shape .left {
  position: absolute;
  bottom: -40px;
  left: -40px;
}
.footer-shape .left img {
  z-index: 3;
  position: relative;
}
.footer-shape .right {
  position: absolute;
  right: -40px;
  bottom: -40px;
}
.footer-shape .right img {
  z-index: 3;
  position: relative;
}
@media (max-width: 768px) {
  .footer-shape {
    display: none;
  }
}

.width--full {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.ls-40 {
  letter-spacing: 0.4px;
}

.br-18 {
  border-radius: 18px;
}

@media (max-width: 768px) {
  .info-image .image-mockup {
    max-width: 100%;
  }
}

.swiper-slide-duplicate-prev img {
  border: 11px solid #fff;
}

.swiper-slide-duplicate-prev {
  border: 11px solid #fff;
}

/* ==============================================

21. Fullscreen Bootstrap Modal

============================================== */
.modal.modal-fullscreen .modal-dialog {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none;
}
.modal.modal-fullscreen .modal-content {
  height: auto;
  height: 100vh;
  border-radius: 0;
  border: none;
}
.modal.modal-fullscreen .modal-body {
  overflow-y: auto;
}
.modal.modal-fullscreen .modal-header {
  padding: 55px 55px 10px;
}
@media (max-width: 768px) {
  .modal.modal-fullscreen .modal-header {
    padding: 20px 20px 5px;
  }
}
.modal.modal-fullscreen .modal-close-btn {
  background: #F5F5F7;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  font-size: 38px;
  height: 53px;
  max-width: 53px;
  width: 100%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: linear 0.2s;
}
.modal.modal-fullscreen .modal-close-btn:hover {
  opacity: 0.5;
}

.modal-list {
  font-size: 20px;
  font-weight: 600;
  list-style: none;
  padding-left: 0;
}
.modal-list li {
  line-height: 1.5;
}
.modal-list li:before {
  content: "✓";
  padding-right: 0.5em;
}
.modal-list li:not(:last-child) {
  margin-bottom: 15px;
}
.modal-list li p {
  font-weight: 400;
  margin: 0;
  padding-left: 1.6rem;
}
@media (max-width: 768px) {
  .modal-list li p {
    padding-left: 0;
  }
}

.modal-btn {
  letter-spacing: 1px;
  font-size: 12px;
  padding: 22px 55px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #536DFE;
  border: #536DFE;
}
.modal-btn:hover {
  color: #ffffff;
  background-color: #6c83fe;
  border: #536DFE;
}